/* Tablet Layout: 768px. */










@media (min-width: 768px) and (max-width: 1370px){

.column {width: 750px;}



#cross{
			
			
			
			 margin-top: -48px;
    margin-left: 263px;
    border-radius: 50%;
    border: 2px solid;
    background: black;
    box-shadow: 0px 0px 5px black;
    padding: 7px;
    width: 36px;
    height: 36px;
    color: white;
			
			
			
			
			
			}

}


/* Mobile Layout: 320px. */

@media (min-width: 300px) and (max-width: 767px) {
.column {width: 300px;}
.hFeature {margin: 0;}
.menu_header {margin-top: 10px;}
.menu {margin-bottom: 10px;}
.product_category img {height: 300px; width: 300px;}
.single_page {margin-top: 10px;}
.contact_page {margin-top: 10px;}
.gallery {margin-top: 10px;}
.tab_area {margin-top: 10px; margin-bottom: 10px;}



.flap{
	
	
	display:none;
	
	
}
.extruder-content{
	
	
	
	height:20%
	
	
}



#cross{
			
			
			
		margin-top: -100px;
    margin-left: 233px;
    border-radius: 50%;
    border: 2px solid;
    background: black;
    box-shadow: 0px 0px 5px black;
    padding: 7px;
    width: 36px;
    height: 36px;
    color: white;
			
			
			
			
			
			}
			
			
		#ro{
		
					padding:20px
		
		
		}	
			
			
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.column {width: 450px;}


}































